<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap Core CSS 사용 코드-->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

    <!-- Custom Fonts  폰트 어썸 사용 코드-->
    <link rel="stylesheet" href="{{ url_for('static', filename='js/font-awesome/5.8.1/css/all.min.css') }}">

    <!-- jQuery 사용-->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery/jquery.slim.min.js') }}"></script>
    <script src="/static/js/jquery/jointer.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker/bootstrap-datepicker.kr.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>


    <script>
                (function($){$.fn.jointer=function(connectionColor,connectionCircleColor,useMargin){this.connectionColor=connectionColor||'black';this.connectionCircleColor=connectionCircleColor||'black';this.useMargin=useMargin||!1;this.jointerConnectionsStore=[];this.connectElements=((from,to)=>{if(checkIfElementExists(from)&&checkIfElementExists(to)){let cTy;let cTx;let id=guid();let fromX=$(from).position().left+($(to).width()/2);let fromY=$(from).position().top+($(from).height()/2);let targetX=$(to).position().left+($(to).width()/2);let targetY=$(to).position().top+($(to).height()/2);if(targetY>fromY){if(this.useMargin){cTy=$(to).position().top+getTopMargin(to);cTx=targetX}else{cTy=$(to).position().top;cTx=targetX}}
if(targetY<fromY){if(this.useMargin){cTy=$(to).position().top+($(to).height()+getTopMargin(to));cTx=targetX}else{cTy=$(to).position().top+$(to).height();cTx=targetX}}
$('body').prepend('<svg id="'+id+'" width="100%" height="100%" style="position: absolute; top: 0px; z-index: -1;">'+'<line x1="'+fromX+'" y1="'+fromY+'" x2="'+cTx+'"y2="'+cTy+'" stroke="'+this.connectionColor+'"/>'+'<circle cx="'+cTx+'" cy="'+cTy+'" r="5" fill="'+this.connectionCircleColor+'" />'+'</svg>');this.jointerConnectionsStore.push({from:$(from).attr('id'),to:$(to).attr('id'),connectionId:id})}else{throw new Error("elements not found in DOM")}});this.clearConnection=((el)=>{if(!el){throw new Error("element not defined. can´t clear connections")}
if($(el).attr('id')!=="undefined"){let removeConnections=[];$.each(this.jointerConnectionsStore,(i,e)=>{if($(el).attr('id')==e.from){$('#'+e.connectionId).remove();removeConnections.push(e)}});for(let i=0;i<removeConnections.length;i++){for(let a=0;a<this.jointerConnectionsStore.length;a++){if(removeConnections[i].connectionId==this.jointerConnectionsStore[a].connectionId){this.jointerConnectionsStore.splice(a,1)}}}}});this.clearAllConnection=()=>{$('body svg').remove()};return this};function guid(){function s4(){return Math.floor((1+Math.random())*0x10000).toString(16).substring(1)}
return s4()+s4()+'-'+s4()+'-'+s4()+'-'+s4()+'-'+s4()+s4()+s4()}
function getTopMargin(el){return parseFloat($(el).css('margin-top'))}
function getBottomMargin(el){return parseFloat($(el).css('margin-bottom'))}
function checkIfElementExists(el){if($(el).length<1){return!1}else{return!0}}}(jQuery))


        var jointer = new $().jointer('black','white',false);
        $(function(){

            $(document).on("click", "#btn-advance", function(){
                $(this).children("#ico-updown").toggleClass("fa-chevron-up");
                $("#learn").toggleClass("move");
                //showLine();
            });

            $(document).on("click", "#btn-preview", function(){
                $(this).parent().toggleClass("d-none");
                $(".last").toggleClass("d-none");
                $("#preview").toggleClass("move");
                
            });

            showLine();

            /*이미지, 캠 열기*/
            $(document).on("click", ".btn-img-upload", function(){                
                $(this).parents(".class-tool").addClass("d-none");
                $(this).parents(".class-tool").siblings(".image-box").toggleClass("d-none");
            });

            $(document).on("click", ".btn-cam-upload", function(){                
                $(this).parents(".class-tool").addClass("d-none");
                $(this).parents(".class-tool").siblings(".cam-box").toggleClass("d-none");

            var video = document.querySelector("#videoElement1");
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (err0r) {
                        console.log("Something went wrong!");
                    });
                    


                    
            }
            });
         
                
            $(document).on("click", ".image-close", function(){                
                $(this).parents(".image-box").toggleClass("d-none");
                $(this).parents(".image-box").siblings(".class-tool").removeClass("d-none");
            });

            $(document).on("click", ".cam-close", function(){                
                $(this).parents(".cam-box").toggleClass("d-none");
                $(this).parents(".cam-box").siblings(".class-tool").removeClass("d-none");
            });

            
            $("#btn-class-clone").on("click", function(){
                classCntNum ++;
                $(".card-title").last().attr("name", classCntNum); 
                ///// name 값  변경 (헷갈리면->카운트 값에 문자 더하기) -> 다른데도 해야댐 //////
                
                
                // 클래스3 드래그 효과
                var imgValue3 = 0; 
                var uploadFiles3 = [];
                var $drop3 = $("#drop3");
                $drop3.on("dragenter", function (e) { //드래그 요소가 들어왔을떄
                    $(this).addClass('drag-over');
                    
                }).on("dragleave", function (e) { //드래그 요소가 나갔을때
                    $(this).removeClass('drag-over');
                }).on("dragover", function (e) {
                    
                    e.stopPropagation();
                    e.preventDefault();
                }).on('drop', function (e) {
                    e.preventDefault();
                    $(this).removeClass('drag-over');
                    
                    files3 = e.originalEvent.dataTransfer.files;
                    /*업로드된 이미지를  카운트해서 sample{} <--에 숫자 넣어주기 코드*/
                    for (var i = 0; i < files3.length; i++) {
                        imgValue3++;
                        $('.count3').html(imgValue3);
                 

                        var file3 = files3[i];
                        console.log(file3);
                        var size3 = uploadFiles3.push(file3);
                        preview3(file3, size3 - 1);
                        
                    }
                });

            });


            $(document).on("change", "#select-preview", function(){
                $("#image-select").toggleClass("d-none");
                $("#cam-select").toggleClass("d-none");
                var video = document.querySelector("#videoElement");
                                

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                        streamVideo('videoElement');
                        //setInterval(streamVideo($("#videoElement")), 1000);
                    })
                    .catch(function (err0r) {
                        console.log("Something went wrong!");
                       //streamVideo($("#videoElement"));
                       streamVideo('videoElement');
                       //setInterval(streamVideo($("#videoElement")), 1000);
                    });
            }           




            });
            
  
            $('.popover-msg').popover({
                container: 'body'
            });
        });


        /* class 삭제~ㅋㅋ*/
        function deleteClass1() {
                const div = document.getElementById('class1');
                div.remove();
        }       
        function deleteClass2() {
                const div = document.getElementById('class2');
                div.remove();
        }
        function deleteClass3() {
                const div = document.getElementById('class3');
                div.remove();
        }
       
    
  
        
        /*모든 기능 허용 코드*/
        function showLine(){
            jointer.clearAllConnection();          
            jointer.connectElements('#class1', '#learn');
            jointer.connectElements('#class2', '#learn');
            jointer.connectElements('#learn', '#preview');
        }


        

    </script>
</head>
<body>

    <input class="burger-check" type="checkbox" id="burger-check" /><label class="burger-icon" for="burger-check">
        <span class="burger-sticks"></span></label>
    <!-- <span >Image</span> -->
    <span style=" font-size:1.5em;  color: black; margin-left:50px;">Sound</span>
    <div class="menu">
        <div style="width: 200px;"></div>
    </div>


    <div id="wrap">       
        <div id="class-area" class="column scroll">

            <div id="class1" class="card shadow">
                <div class="card-header">
                    <span class="card-title" contenteditable="true" id="card-title1" style="font-size: large;">Class1</span>
                    <div class="card-tool">
                        <div class="dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="class1-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="class1-more">
                              <a class="dropdown-item" href="#" onclick="deleteClass1()">delete class</a>
                              <a class="dropdown-item" href="#">stop class</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="class-tool p-3">
                        <div class="float-left mr-3">
                            <p class="text-muted">sample <span class="count1"></span></p>  
    
                            <div>
                                <button class="btn-img-upload btn btn-transparent"><i class="fas fa-upload"></i><br><small class="text-muted">upload</small></button>
                                <button class="btn-cam-upload btn btn-transparent"><i class="fas fa-video"></i><br><small class="text-muted">mic</small></button>
                            </div>
                        </div>
                        <div id="cla1" class="w-445 overflow-x nowrap">
                            <!-- <img src="/images/JK1.jpg" width="80">
                            <img src="/images/JK2.jpg" width="80"> -->
    
                        </div> 
                    </div>
                    
                    <!-- 이미지 -->                                  
                    <div class="image-box row m-0 d-none">
                        <div class="col-6 bg-purple">
                            <p class="p-2">file
                                <button type="button" class="image-close float-right close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </p>
                            <div class="file-select px-2 d-flex align-items-center">
                                <div id="drop" class="bg-white p-2 w-100 rounded "  >
                                    <!-- <div id="thumbnails">
                                        <progress id="progressBar" value="0" max="100" style="width:100%"></progress></div> -->
                                    <!-- <input type="button" id="btnSubmit" value="업로드" style=display:none;> -->
                                    <p class="text-center mt-3"><i class="fas fa-file-upload fa-2x text-purple"></i></p>
                                    <p class="text-center text-purple px-4"> Upload a sound <br> by drag and drop it here.</p>
                                </div>
                                
                            </div>
                            <div class="mt-5 d-flex justify-content-center">
                                <!-- <button class="btn btn-transparent"><i class="far fa-image fa-3x"></i></button> -->
                                <div><i class="far fa-image fa-3x text-purple"></i></div>
                                <div class="d-flex align-items-center mx-2"><i class="fas fa-arrow-right text-purple"></i></div>
                                <div class="position-relative"><i class="far fa-image fa-3x text-purple"></i>
                                    <div class="rectangle w-80 h-80"></div>
                                </div>
                            </div>
                            <p class="text-center text-purple mb-5">Files are cut in every second.</p>
                        </div>
                        <div class="col-6 px-1">
                            <p class="p-2">sample<span class="count1"></span></p>
                            <div id="cla2" class="overflow-y h-290">
                                <!-- <img src="/images/JK1.jpg" width="80" class="m-1">
                                <img src="/images/JK2.jpg" width="80" class="m-1"> -->
                            </div>
                        </div>
                    </div>
                    <!-- cam -->
                    <div class="cam-box row m-0 d-none">
                        <div class="col-6 bg-purple">
                            <p class="p-2">cam
                                <button type="button" class="cam-close float-right close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </p>
                            <div class="view-cam px-2 d-flex align-items-center">
                                <div id="container1" class="p-2 w-100 h-200 text-center">
                                    
                                </div>
                                

                            </div>
                            <div class="my-2 d-flex justify-content-center">
                                <!-- <button class="btn btn-transparent"><i class="far fa-image fa-3x"></i></button> -->
                                <button class="btn btn-block btn-transparent bg-purple-30 p-2 w-100 rounded " id= "webcamBtn">
                                    <p class="text-center mt-3"><i class="fas fa-video fa-2x text-purple"></i></p>
                                    <p class="text-purple text-center px-3">press it to record.</p>
                                </button>
                            </div>
                            
                        </div>
                        <div class="col-6 px-1">
                            <p class="p-2">sample</p>
                            <div class="overflow-y h-335">
                                <!--<img src="/images/JK1.jpg" width="80" class="m-1">
                                <img src="/images/JK5.jpg" width="80" class="m-1">-->
                                <canvas id="canvas" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div id="class2" class="card shadow mt-4">
                <div class="card-header">
                    <span class="card-title" contenteditable="true" id="card-title2" style="font-size: large;">Class2</span>
                    <div class="card-tool">
                        <div class="dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="class2-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="class2-more">
                              <a class="dropdown-item" href="#" onclick="deleteClass2()">delete class</a>
                              <a class="dropdown-item" href="#">stop class</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="class-tool p-3">
                        <div class="float-left mr-3">
                            <p class="text-muted">sample <span class="count2"></span></p>  
                            <!-- 사진 업로드 하면 사진 갯수가 올라갸야된당.... 1,2,3,4... -->
    
                            <div>
                                <button class="btn-img-upload btn btn-transparent"><i class="fas fa-upload"></i><br><small class="text-muted">upload</small></button>
                                <button class="btn-cam-upload btn btn-transparent"><i class="fas fa-video"></i><br><small class="text-muted">mic</small></button>
                            </div>
                        </div>
                        <div id="cla3" class="w-445 overflow-x nowrap">
                            <!--<img src="/images/JK1.jpg" width="80">
                            <img src="/images/JK5.jpg" width="80">-->
                            
                        
                        
                        </div>
                    </div>
                    
                    <!-- 이미지 -->                                  
                    <div class="image-box row m-0 d-none">
                        <div class="col-6 bg-purple">
                            <p class="p-2">file
                                <button type="button" class="image-close float-right close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </p>
                            <div class="file-select px-2 d-flex align-items-center">
                                <div id="drop2" class="bg-white p-2 w-100 rounded" >
                                    <!-- <input type="button" id="btnSubmit" value="업로드" style=display:none;> -->
                                    <p class="text-center mt-3"><i class="fas fa-file-upload fa-2x text-purple"></i></p>
                                    <p class="text-center text-purple px-4"> Upload a sound <br> by drag and drop it here.</p>
                                </div>
                                
                            </div>
                            <div class="mt-5 d-flex justify-content-center">
                                <!-- <button class="btn btn-transparent"><i class="far fa-image fa-3x"></i></button> -->
                                <div><i class="far fa-image fa-3x text-purple"></i></div>
                                <div class="d-flex align-items-center mx-2"><i class="fas fa-arrow-right text-purple"></i></div>
                                <div class="position-relative"><i class="far fa-image fa-3x text-purple"></i>
                                    <div class="rectangle w-80 h-80"></div>
                                </div>
                            </div>
                            <p class="text-center text-purple mb-5">Files are cut in every second.</p>
                        </div>
                        <div class="col-6 px-1">
                            <p class="p-2">sample<span class="count2"></span></p>
                                <!--<img src="/images/JK1.jpg" width="80" class="m-1">
                                <img src="/images/JK11.jpg" width="80" class="m-1"> -->                           
                            </div>
                        </div>
                    </div>
                    
                    <!-- cam -->
                    <div class="cam-box row m-0 d-none">
                        <div class="col-6 bg-purple">
                            <p class="p-2">cam
                                <button type="button" class="cam-close float-right close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </p>
                            <div class="view-cam px-2 d-flex align-items-center">
                                <div class="p-2 w-100 h-200 text-center">
                                    <video src="" width="100%"></video>
                                    video
                                </div>
                                
                            </div>
                            <div class="my-2 d-flex justify-content-center">
                                <!-- <button class="btn btn-transparent"><i class="far fa-image fa-3x"></i></button> -->
                                <button class="btn btn-block btn-transparent bg-purple-30 p-2 w-100 rounded">
                                    <p class="text-center mt-3"><i class="fas fa-video fa-2x text-purple"></i></p>
                                    <p class="text-purple text-center px-3">press it to record.</p>
                                </button>
                            </div>
                            
                        </div>
                        <div class="col-6 px-1">
                            <p class="p-2">sample</p>
                            <div class="overflow-y h-335">
                               <!-- <img src="/images/JK1.jpg" width="80" class="m-1">
                                <img src="/images/JK5.jpg" width="80" class="m-1">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- add class 몸 -->
            <div id="add-class" class="card border-0 bg-light mt-5 p-2">
                <div class="card-body border-dotted">
                    <button id="btn-class-clone" class="btn btn-block btn-transparent py-2"><i class="far fa-plus-square"></i> add class</button>
                </div>


            </div>
        </div>
        <div class="column vcenter-sticky">
            <div class="column-stretch-container">
                <div id="learn" class="card shadow">
                    <div class="card-header">
                        <p style="font-size: large;">learn</p>
                            learn model
                            <div id="myProgress" style="
                            background-color: #a78bfa; border-color: none; border-radius: 10px;">  
                                <div id="myBar" style=" border-radius: 10px;">
                                   
                                </div>
                              </div>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="advance">
                            <a href="#none" id="btn-advance" class="btn collapsed d-block text-left" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                advance
                                <i id="ico-updown" class="fas fa-chevron-down float-right mt-1"></i>
                            </a>
                            <div id="collapse1" class="collapse" aria-labelledby="advance" data-parent="#advance">
                                <div class="form-group row mt-3">
                                    <div class="col-7">
                                        <input type="number" class="form-control form-control-sm" min="1" maxlength="4" max="9999" id="epochs">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <span class="mt-1 mr-5">initialize default</span>
                                                <i class="far fa-clock text-purple"></i>
                                            </button>
                                        </div>                                                  
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer border-0 bg-transparent">
                        <button class="btn btn-block btn-transparent"><i class="fas fa-ellipsis-v"></i></button>
                    </div> -->
                </div>
            </div>            
        </div>
        <div class="column vcenter-sticky">
            <div class="column-stretch-container">
                <div id="preview" class="card shadow">
                        <p style="font-size: large;">preview<button class="btn btn-purple float-right px-5 py-2">export model</button></p>
                        
                    </div>
                    <div class="card-body px-0">
                        <div class="px-3 first">
                            <p class="text-center py-5"><button id="btn-preview" class="btn btn-transparent">To check the model, <br> learn the model on the left and click here.</button></p>
                        </div>
                        <div class="last d-none">
                            <div class="px-3">
                                <div class="form-group row mt-3">
                                    <label for="" class="col-5 col-form-label form-inline">
                                        <span class="mr-3">input</span>
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                            <label class="custom-control-label" for="customSwitch1">use</label>
                                        </div>
                                    </label>
                                    <div class="col-7">
                                      <select name="" id="select-preview" class="form-control form-control-sm">
                                          <option value="image">upload</option>
                                          <option value="cam">mic</option>
                                      </select>
                                    </div>
                                </div>
                                <div id="image-select">
                                    <div class="file-select px-2 d-flex align-items-center">
                                            <p class="text-center mt-3" style="color:black"><i class="fas fa-file-upload fa-2x background-color:white"></i></p>
                                            <p class="text-center text-white px-4" style="color:black"> Upload a sound <br> by drag and drop it here.</p>
                                        </div>                                            
                                    </div>   
                                    <div class="px-5 py-3 text-center">
                                        <!-- <img src="/images/JK1.jpg" class="img-fluid" style="max-height:360px"> -->
                                        <p class="p-2">sample<span class="count4"></span></p>
                                        <div id="cla7" class="overflow-y h-100"> 

                                            <!-- <img src="/images/JK1.jpg" width="80">
                                            <img src="/images/JK5.jpg" width="80"> -->
                                        </div>                                     
                                </div>
                                <div id="cam-select" class="d-none">
                                    <div class="file-select px-2 d-flex align-items-center">
                        
                                    </div>   
                                    <div id="container" class="px-2 py-2 text-center " > 
                                        <video autoplay="true" id="videoElement" style="width: 400px; height: 300px; padding-top: 10px;"></video>
                                    </div>                                     
                                </div>
                                
                            </div>
                            <div class="position-relative">
                                <hr>
                                <span class="arrow-bottom"><i class="fas fa-arrow-down"></i></span>
                            </div>
                            
                            <div class="px-3">
                                <div class="form-group row mt-3">
                                    <label for="" class="col-5 col-form-label">output</label>
                                    
                                </div>
                                <div class="px-2" id="addclassname">
                                    <div class="form-group row" id="class_1">
                                        <label for="" class="col-4 col-form-label" >class1</label>
                                        <div class="col-8">
                                            <div class="progress" style="height:20px;margin-top:8px" >
                                                <div class="progress-bar bg-success" role="progressbar" id="pro_1" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="class_2">
                                        <div class="col-8">
                                            <div class="progress" style="height:20px;margin-top:8px">
                                                <div class="progress-bar bg-info" role="progressbar" id="pro_2" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
                                            </div>
                                        </div>
                                    </div>     
                                        <div class="col-8">
                                            <div class="progress" style="height:20px;margin-top:8px" >
                                                <div class="progress-bar bg-success" role="progressbar" id="pro_3" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                                            </div>
                                        </div>
                                    </div>                                        
                                </div>                                        
                            </div>
                        </div>                                    
                    </div>
                    
                </div>
            
            </div>
        </div>
    </div> 
    
    
    <div id="class-clone" class="d-none">
        <div id="class3" class="card shadow mt-4">
            <div class="card-header">
                
                <span class="card-title" contenteditable="true" id="card-title3" style="font-size: large;">Class 이름 편집되게 어떻게 할까요오~ 누가하나요~</span>
                <div class="card-tool">
                    <div class="dropdown">
                        <button class="btn btn-transparent dropdown-toggle" type="button" id="class1-more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="class1-more">
                          <a class="dropdown-item" href="#">stop class</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="class-tool p-3">
                    <div class="float-left mr-3">
                        <p class="text-muted">sample <span class=" count3"> </span></p>  
                        <!-- 사진 업로드 하면 사진 갯수가 올라갸야된당.... 1,2,3,4... -->

                        <div>
                            <button class="btn-img-upload btn btn-transparent"><i class="fas fa-upload"></i><br><small class="text-muted">upload</small></button>
                            <button class="btn-cam-upload btn btn-transparent"><i class="fas fa-video"></i><br><small class="text-muted">cam</small></button>
                        </div>
                    </div>
                    <div id="cla5" class="w-445 overflow-x nowrap">
                        <!--<img src="/images/JK1.jpg" width="80">
                        <img src="/images/JK5.jpg" width="80"> -->

                    </div> 
                </div>
                
                <!-- 이미지 -->                                  
                <div class="image-box row m-0 d-none">
                    <div class="col-6 bg-purple">
                        <p class="p-2">file
                            <button type="button" class="image-close float-right close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                        <div class="file-select px-2 d-flex align-items-center">
                            <div id="drop3" class="bg-white p-2 w-100 rounded">
                                <!-- <input type="button" id="btnSubmit" value="업로드" style=display:none;/>    -->
                                <p class="text-center mt-3"><i class="fas fa-file-upload fa-2x text-purple"></i></p>
                                <p class="text-center text-purple px-4"> Upload a sound <br> by drag and drop it here.</p>
                            </div>
                            
                        </div>
                        <div class="mt-5 d-flex justify-content-center">
                            <!-- <button class="btn btn-transparent"><i class="far fa-image fa-3x"></i></button> -->
                            <div><i class="far fa-image fa-3x text-purple"></i></div>
                            <div class="d-flex align-items-center mx-2"><i class="fas fa-arrow-right text-purple"></i></div>
                            <div class="position-relative"><i class="far fa-image fa-3x text-purple"></i>
                                <div class="rectangle w-80 h-80"></div>
                            </div>
                        </div>
                        <p class="text-center text-purple mb-5">Files are cut in every second.</p>
                    </div>
                    <div class="col-6 px-1">
                        <p class="p-2">sample<span class="count3"></span></p>
                        <div id="cla6" class="overflow-y h-290">
                           <!-- <img src="/images/JK1.jpg" width="80" class="m-1">
                            <img src="/images/JK5.jpg" width="80" class="m-1">-->
                        </div>
                    </div>
                </div>
                <!-- cam -->
                <div class="cam-box row m-0 d-none">
                    <div class="col-6 bg-purple">
                        <p class="p-2">cam
                            <button type="button" class="cam-close float-right close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </p>
                        <div class="view-cam px-2 d-flex align-items-center">
                            <div class="p-2 w-100 h-200 text-center">
                                <video src="" width="100%"></video>
                                video
                            </div>
                            
                        </div>
                        <div class="my-2 d-flex justify-content-center">
                            <!-- <button class="btn btn-transparent"><i class="far fa-image fa-3x"></i></button> -->
                            <button class="btn btn-block btn-transparent bg-purple-30 p-2 w-100 rounded">
                                <p class="text-center mt-3"><i class="fas fa-video fa-2x text-purple"></i></p>
                                <p class="text-purple text-center px-3">press it to record.</p>
                            </button>
                        </div>
                        
                    </div>
                    <div class="col-6 px-1">
                        <p class="p-2">sample</span></p>
                        <div class="overflow-y h-335">
                            <!--<img src="/images/JK1.jpg" width="80" class="m-1">
                            <img src="/images/JK5.jpg" width="80" class="m-1"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>


               //    
        var imgValue1 = 0;
        var uploadFiles1 = [];
        var files1 =[];
        var $drop = $("#drop");
        $drop.on("dragenter", function (e) { //드래그 요소가 들어왔을떄
            $(this).addClass('drag-over');
        }).on("dragleave", function (e) { //드래그 요소가 나갔을때
            $(this).removeClass('drag-over');
        }).on("dragover", function (e) {
            e.stopPropagation();
            e.preventDefault();
        }).on('drop', function (e) {
            e.preventDefault();
            $(this).removeClass('drag-over');
            files1 = e.originalEvent.dataTransfer.files;
            for (var i = 0; i < files1.length; i++) {
                imgValue1++;
                $('.count1').html(imgValue1);
                for(var j = 0; j < files.length; j++) {
                   imgValue++;
                $('.count2').html(imgValue);
                }
                var file1 = files1[i];
                console.log(file1);
                var size1 = uploadFiles1.push(file1);
                preview(file1, size1 - 1);
            }
        });

        function preview(file1, idx) {
            var reader = new FileReader();
            reader.onload = (function (f, idx) {
                return function (e) {
                    var $div = $(' \
                <img style="width:90px; height:90px; padding:5px;" src="static/images/zzzzzzzzzzzvdfghfh.png""' + e.target.result + '" title="' + escape(f.name) + '"/> \
                ');
                    var $div1 = $(' \
                <img style="width:90px; height:90px; padding:10px;" src="static/images/zzzzzzzzzzzvdfghfh.png""' + e.target.result + '" title="' + escape(f.name) + '"/> \
                ');
                    $("#cla1").append($div);
                    $("#cla2").append($div1);

                };
            })(file1, idx);
            reader.readAsDataURL(file1);
        }


        var imgValue2 = 0;
        var uploadFiles2 = [];
        var files2 = [];
        var $drop2 = $("#drop2");
        $drop2.on("dragenter", function (e) {
            $(this).addClass('drag-over');
        }).on("dragleave", function (e) { 
            $(this).removeClass('drag-over');
        }).on("dragover", function (e) {
            e.stopPropagation();
        }).on('drop', function (e) {
            e.preventDefault();
            $(this).removeClass('drag-over');
            files2 = e.originalEvent.dataTransfer.files;
            for (var i = 0; i < files2.length; i++) {
                imgValue2++;
                $('.count2').html(imgValue2);


                var file2 = files2[i];
                console.log(file2);
                var size2 = uploadFiles2.push(file2);
                preview2(file2, size2 - 1);
            }
        });

        function preview2(file2, idx) {
            var reader = new FileReader();
            reader.onload = (function (f, idx) {
                return function (e) {
                    var $div = $(' \
                <img style="width:90px; height:90px; padding:5px;" src="static/images/zzzzzzzzzzzvdfghfh.png""' + e.target.result + '" title="' + escape(f.name) + '"/> \
                ');
                    var $div1 = $(' \
                <img style="width:90px; height:90px; padding:5px;" src="static/images/zzzzzzzzzzzvdfghfh.png""' + e.target.result + '" title="' + escape(f.name) + '"/> \
                ');
                    $("#cla3").append($div);
                    $("#cla4").append($div1);

                    //$("#thumbnails").append($div);
                    f.target = $div;
                };
            })(file2, idx);
            reader.readAsDataURL(file2);
        }



        function preview3(file3, idx) {
            var reader = new FileReader();
            reader.onload = (function (f, idx) {
                return function (e) {
                    var $div = $(' \
                <img style="width:90px; height:90px; padding:5px;" src="static/images/zzzzzzzzzzzvdfghfh.png""' + e.target.result + '" title="' + escape(f.name) + '"/> \
                ');
                    var $div1 = $(' \
                <img style="width:90px; height:90px; padding:5px;" src="static/images/zzzzzzzzzzzvdfghfh.png""' + e.target.result + '" title="' + escape(f.name) + '"/> \
                ');
                    $("#cla6").append($div1);

                    f.target = $div;
                };
            })(file3, idx);
            reader.readAsDataURL(file3);
        }


        var imgValue4 = 0;
        var uploadFiles4 = [];
        var files4 =[];
        var $drop4 = $("#drop4");
        $drop4.on("dragenter", function (e) { 
            $(this).addClass('drag-over');
        }).on("dragleave", function (e) { 
            $(this).removeClass('drag-over');
        }).on("dragover", function (e) {
            e.stopPropagation();
        }).on('drop', function (e) {
            e.preventDefault();
            $(this).removeClass('drag-over');
            files4 = e.originalEvent.dataTransfer.files;
            /*업로드된 이미지를  카운트해서 sample{} <--에 숫자 넣어주기 코드*/
            for (var i = 0; i < files4.length; i++) {
                imgValue4++;
                $('.count4').html(imgValue4);
                //for(var j = 0; j < files.length; j++) {
                //   imgValue++;
                //$('.count2').html(imgValue);

                var file4 = files4[i];
                console.log(file4);
                var size4 = uploadFiles4.push(file4);
                preview4(file4, size4 - 1);

                var namformData = new FormData();
                
                namformData.append("soundfile",file4);
                console.log(files4);

            }
        });

        function preview4(file4, idx) {
            var reader = new FileReader();
            reader.onload = (function (f, idx) {//예뻐지고시퍼 src="/images/JK1.jpg"
                return function (e) {
                    var $div = $(' \
                <img style="width:300px; height:90px; padding:5px;" src="static/images/zzzzzzzz.png" title="' + escape(f.name) + '"/> \
                ');
                    var $div1 = $(' \
                <img style="width:300px; height:90px; padding:10px;" src="static/images/zzzzzzzz.png" title="' + escape(f.name) + '"/> \
                ');
                    $("#cla7").append($div);
                    $("#cla8").append($div1);

                    //$("#thumbnails").append($div);
                    f.target = $div;
                };
            })(file4, idx);
            reader.readAsDataURL(file4);
        }




        function realsubmit(){ 
            var superformData = new FormData();
        
            const epochs = document.getElementById('epochs').value; 
            superformData.append("epochs",epochs);

            const cnt1 = document.getElementsByClassName('count1')[0].innerHTML; 
            const cnt3 = document.getElementsByClassName('count3')[0].innerHTML; 
            
     
          


            
    }
        

    </script>



</body>
</html>